h1 {
    margin-top: 0px;
    text-align: center;
}

.mainContent {
    margin-top: 50px;
}

.profile {
    background-color: lightgray;
    padding-top: 20px;
}

.profilepic {
    border: 1px solid;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
/*    margin-top: 10px;*/
    width: 200px;
}

.following {
    height: 64px;
    overflow:auto;
    white-space:nowrap;
}

.followingpic {
    border: 1px solid;
    height: 48px;
    width: 48px;
}

.profileinfo {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.events {
    background-color: whitesmoke;
}

.eventimage {
    border: 1px solid;
    height: 96px;
    width: 96px;
}

td {
    padding-bottom: 8px;
    padding-left: 8px;
}

.buttonRemoveEvent {
    background-color: #ce0018;
    color: white;
    float: right;
    margin-right: 8px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}